* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  box-sizing: border-box;
  min-height: 100vh;
}

button,
input {
  font-family: "Comfortaa", sans-serif;
  border: 0;
}
